{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="shadow-lg p-2 rounded-full bg-indigo-500 text-white hover:bg-indigo-900">
	<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
	</svg>
</button>
{{ form_end(form) }}
