{% extends 'base.html.twig' %}

{% block title %}Sessions
{% endblock %}

{% block body %}
	<div class="w-full">
		<div class="mb-4 mx-0">
			<div class="shadow-lg rounded-2xl px-8 py-4 bg-white dark:bg-gray-700 w-full">
				
			</div>
		</div>
	</div>
{% endblock %}
