{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block body %}
	{% for session in sessions %}
		<div class="w-full sm:w-1/2">
			{% include 'session/single.html.twig' with {'edit': false} %}
		</div>
	{% endfor %}
{% endblock %}
